* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

html {
    font-size: 100%;
}

body {
    background: url('../assets/pexels-fwstudio-164005.jpg'), rgba(0, 0, 0, 0.138);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
}