.card-info {
    color: rgba(255, 255, 255, 0.629);
    font-size: 1.5rem;
    width: 90%;
    display: flex;
    justify-content: center;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 100%;
    height: 80%;
    border-radius: .5rem;
}