@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

header .header__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 15rem;
  align-items: center;
  margin-bottom: 3rem;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
}

header .header__logo {
  font-size: 3rem;
  /* color: rgba(0, 0, 0, 0.574); */
  color: rgba(255, 255, 255, 0.769);
  font-family: "Poiret One", cursive;
  font-weight: lighter;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

header .header__cart-icon {
  font-size: 2rem;
  border-radius: 100%;
  outline: 2px solid rgba(255, 255, 255, 0.769);
  padding: 0.8rem;
  color: rgba(255, 255, 255, 0.769);
}
