header {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .header__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    align-items: center;
}

header .header__logo {
    letter-spacing: .2rem;
    font-size: 3rem;
}

header .header__cart-icon {
    font-size: 2.2rem;
}